*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background:linear-gradient(rgba(0, 0, 0, 0.782), rgba(0, 0, 0, 0.777)), url(./assets/img/img-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    /* display: flex;
    align-items: center; */
    /* position: relative; */
}

.hero-text{
    max-width: 60%;
    padding-top: 3em;
    /* border: 2px solid red; */
}
.waves{
    position: absolute;
    bottom: 0;
}